{% extends 'home.html.twig' %}

{% block body %}
    <h1>Liste des produits</h1>
    <ul>
    {% for product in products %}
        
        <li>{{ product }}</li>
    {% endfor %}
   </ul>
   {{ dump(products) }}
{% endblock %}